*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    background-image: linear-gradient(to right,#6a3c7d,#434754);

}


.nav-links{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    /* background-image: linear-gradient(to right,#6a3c7d,#434754); */
    colour: #434754;
    font-size: 40px;

}

.nav-links a {
text-decoration: none;
color: black;
}

.nav-links a:hover{
    text-decoration: none;
    color: pink;
    }

/* ^^^^^^navigation^^^^^^ */


p{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5% ;
    font-family: Arial, Helvetica, sans-serif;
}
.Unity{
    height: 527px;
    width: 1073px;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link a{
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 25px;


}