*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    background-image: linear-gradient(to right,#6a3c7d,#434754);

}

.nav-links{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    /* background-image: linear-gradient(to right,#6a3c7d,#434754); */
    colour: #434754;
    font-size: 40px;

}

.nav-links a {
text-decoration: none;
color: black;
}
.nav-links a:hover{
    text-decoration: none;
    color: pink;
    }

/* ^^^^^^navigation^^^^^^ */



.container {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
	max-width:400px;
	width:100%;
    height: 70vh;
	margin:0 auto;
	position:relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#box1{
    width: 350px;
    background-color: rgba(223, 223, 223, 0.6);
    border: 2px solid ;
    border-radius: 5px;
    cursor: pointer;
   
}

#box2{
    width: 350px;
    background-color: rgba(223, 223, 223, 0.6);
    border: 2px solid ;
    border-radius: 5px;
    cursor: pointer;

}

#box3{
    width: 350px;
    background-color: rgba(223, 223, 223, 0.6);
    border: 2px solid ;
    border-radius: 5px;
    cursor: pointer;

}

#box4{
    width: 350px;
    height: 35%;
    background-color: rgba(223, 223, 223, 0.6);
    border: 2px solid ;
    border-radius: 5px;
    cursor: pointer;

}

.btn{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  min-width: 200px;
  cursor: pointer;

}

.button5 {
    background-color: white;
    color: #6a3c7d;
    border: 2px solid #6a3c7d;
  }
  
  .button5:hover {
    background-color: #6a3c7d;
    border: 3px solid pink;

    color: white;
  }

  h1{
font-size: 55px;
  }

  h4{
    font-size: 25px;
  }

  h1:hover{
    font-size: 55px;
    color: pink;
      }
    
      h4:hover{
        font-size: 25px;
        color: pink;
      }